/* Breakpoints */
.welcome-screen {
  height: 100vh;
}
.welcome-screen .characters {
  position: fixed;
  bottom: 0;
  z-index: 0;
  right: 3rem;
  width: 260px;
  height: 260px;
  background-image: url("../img/rick-and-morty.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 425px) {
  .welcome-screen {
    /*  justify-content: initial;
    padding: 1rem 0.5rem; */
  }
  .welcome-screen .characters {
    right: 0;
    width: 180px;
    height: 180px;
  }
}

.git-icon a {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 1.4rem;
  color: #353535;
  transition: color 0.2s;
}
.git-icon a:hover {
  cursor: pointer;
  color: #3a99bb;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.heading .rm-logo {
  width: 380px;
  height: 120px;
  margin-left: 55px;
  background-image: url("../img/Rick_and_Morty_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.heading .title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}
.heading .sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    position: relative;
    top: -10%;
  }
  .heading .rm-logo {
    display: none;
  }
  .heading .title {
    position: relative;
    top: 0;
    font-size: 2.5rem;
  }
  .heading .sub-heading {
    padding: 0 0.25rem;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
  }
}
.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings-form .form-control {
  margin: 0.5rem 0;
}
.settings-form .screen {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 160px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #3a99bb;
  background-image: url("../img/static.gif");
  border-radius: 8px;
  border: 6px solid #717171;
  margin-top: 1.5rem;
  padding: 0.5rem 3rem;
  box-shadow: 2px 2px 8px #717171, -2px -2px 8px #717171;
}
.settings-form .screen .form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  margin: 0.25rem 0.25rem;
}
.settings-form .screen .form-control label {
  z-index: 20;
  margin-right: 0.25rem;
}
.settings-form .screen .form-control input[type=text] {
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #353535;
  font-family: "Amatic SC", cursive;
  font-size: 1.6rem;
  font-weight: 700;
}
.settings-form .screen .radio-group {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.settings-form .screen .overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: 0.85;
  min-width: calc(314px + 0rem);
  min-height: 100%;
  background-color: #c1f4ef;
}
.settings-form .screen span {
  z-index: 20;
}

@media (max-width: 768px) {
  .settings-form {
    position: relative;
    top: -10%;
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-screen .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-screen .container .loading-text {
  position: absolute;
  top: 15%;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.loading-screen .container .loading-portal {
  background-image: url("../img/portal.gif");
  background-size: cover;
  width: 320px;
  height: 300px;
  transition: transform 0.4s;
  animation: grow 3.5s infinite;
  animation-direction: alternate;
}
.loading-screen .container .loading-portal:hover {
  transform: scale(0.8);
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}
.game-screen nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.game-screen nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0rem;
}
.game-screen nav .container .score {
  color: #353535;
}
.game-screen nav .container .score .high {
  font-size: 1.4rem;
}
.game-screen nav .container .credits {
  width: 0;
}

.game-board-outer {
  min-height: calc(100vh - 4rem);
}
.game-board-inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(3, 212px);
  column-gap: 20px;
  row-gap: 20px;
}
.game-board-inner .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #cdfcd8;
  border-radius: 8px;
  border: 2px solid #353535;
  box-shadow: 2px 2px 12px #c1f4ef;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}
.game-board-inner .card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 12px #c1f4ef;
}
.game-board-inner .card .content-img {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.game-board-inner .card .content-img .avatar {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 2px solid #353535;
}
.game-board-inner .card .content-name {
  text-align: center;
  color: #3a99bb;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

@media (max-width: 425px) {
  .game-board-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

.victory-screen .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cdfcd8;
  padding: 5rem 1rem;
  border-radius: 8px;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 12px #c1f4ef;
}
.victory-screen .container h2 {
  font-size: 3rem;
  text-align: center;
}
.victory-screen .container .btn-large {
  position: initial;
  margin: 2rem 0 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", cursive;
  color: #353535;
  background-color: #fcf5cd;
  min-height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #fcf5cd;
}

.welcome-screen,
.game-screen,
.loading-screen,
.victory-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 1rem 3rem;
  background-image: radial-gradient(#fcf5cd 52%, rgba(113, 113, 113, 0.12));
}

.btn-large {
  z-index: 1;
  padding: 0.25rem 1.25rem;
  border: 3px solid #b1b1b1;
  border-radius: 8px;
  background-color: #717171;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
  transition: box-shadow 0.5s, transform 0.2s;
}
.btn-large:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px #86d565, -2px -2px 8px #86d565;
  transform: scale(0.95);
}

/* transitions */
.fade {
  opacity: 0;
}
.fade-enter {
  opacity: 0;
}
.fade-enter .characters {
  bottom: -50%;
  transform: scale(0.6);
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1.5s;
}
.fade-enter-done .characters {
  transition: bottom 3s, transform 3s;
  bottom: 0;
  transform: scale(1);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.spin-enter {
  transform: scale(0.2) rotate(0deg);
  opacity: 0.4;
}
.spin-enter-active {
  transform: scale(1) rotate(1080deg);
  opacity: 1;
  transition: transform 1.5s, opacity 0.5s;
}
.spin-enter-done {
  transform: rotate(720deg);
  transition: transform 1.5s ease-out;
}
.spin-exit {
  opacity: 1;
}
.spin-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.fall-enter {
  opacity: 0;
  transform: translateY(-300px);
}
.fall-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 4s transform 3s;
}

/*# sourceMappingURL=main.css.map */
