.victory-screen {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $card-color;
    padding: 5rem 1rem;
    border-radius: 8px;
    border: 2px solid $white;
    box-shadow: 2px 2px 12px $green-blue;

    h2 {
      font-size: 3rem;
      text-align: center;
    }

    .btn-large {
      position: initial;
      margin: 2rem 0 1rem;
    }
  }
}
