.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 3rem;

  .rm-logo {
    width: 380px;
    height: 120px;
    margin: 0 3rem;
    background-image: url('../img/Rick_and_Morty_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .characters {
    position: absolute;
    bottom: 0;
    z-index: -0;
    right: 3rem;
    width: 260px;
    height: 260px;
    background-image: url('../img/rick-and-morty.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
  }

  .sub-heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color-blue;
  background-color: $green-blue;
  border-radius: 8px;
  border: 6px solid $dark-grey;
  margin-top: 1.5rem;
  padding: 0.5rem 3rem;
  box-shadow: 2px 2px 8px $dark-grey, -2px -2px 8px $dark-grey;

  .form-control {
    margin: 0.25rem 0.25rem;

    label {
      margin-right: 0.25rem;
    }

    input[type='text'] {
      padding: 0.25rem 0.5rem;
      background-color: $green-blue;
      border: none;
      border-bottom: 2px solid $black;
      font-family: 'Amatic SC', cursive;
      font-size: 1.6rem;
      font-weight: 700;
    }

    button {
      padding: 0.25rem 1.25rem;
      border: 3px solid $light-grey;
      border-radius: 8px;
      background-color: $dark-grey;
      color: $white;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'IBM Plex Sans', sans-serif;
      text-transform: uppercase;
      transition: box-shadow 0.5s, transform 0.2s;

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 8px $green, -2px -2px 8px $green;
        transform: scale(0.95);
      }
    }
  }

  .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
