.welcome-screen {
  height: 100vh;

  .characters {
    position: fixed;
    bottom: 0;
    z-index: -0;
    right: 3rem;
    width: 260px;
    height: 260px;
    background-image: url('../img/rick-and-morty.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile) {
    /*  justify-content: initial;
    padding: 1rem 0.5rem; */

    .characters {
      right: 0;
      width: 180px;
      height: 180px;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .rm-logo {
    width: 380px;
    height: 120px;
    margin-left: 55px;
    background-image: url('../img/Rick_and_Morty_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
  }

  .sub-heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

@media (max-width: $tablet) {
  .heading {
    position: relative;
    top: -10%;
    .rm-logo {
      display: none;
    }

    .title {
      position: relative;
      top: 0;
      font-size: 2.5rem;
    }

    .sub-heading {
      padding: 0 0.25rem;
      margin: 2rem 0 1rem;
      font-size: 1.8rem;
    }
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-control {
    margin: 0.5rem 0;
  }

  .screen {
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    min-height: 160px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color-blue;
    background-image: url('../img/static.gif');
    border-radius: 8px;
    border: 6px solid $dark-grey;
    margin-top: 1.5rem;
    padding: 0.5rem 3rem;
    box-shadow: 2px 2px 8px $dark-grey, -2px -2px 8px $dark-grey;

    .form-control {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
      margin: 0.25rem 0.25rem;

      label {
        z-index: 20;
        margin-right: 0.25rem;
      }

      input[type='text'] {
        padding: 0.25rem 0.5rem;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        border-bottom: 2px solid $black;
        font-family: 'Amatic SC', cursive;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }

    .radio-group {
      z-index: 10;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      opacity: 0.85;
      min-width: calc(314px + 0rem);
      min-height: 100%;
      background-color: $green-blue;
    }

    span {
      z-index: 20;
    }
  }
}
.settings-form{
  @media (max-width:$tablet) {
    position: relative;
    top: -10%;
  }
}
