@import 'config';
@import 'welcome-screen';
@import 'loading-screen';
@import 'game-screen';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  color: $text-color-primary;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $bg-color;
}
