@import 'config';
@import 'welcome-screen';
@import 'loading-screen';
@import 'game-screen';
@import 'victory-screen';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  color: $text-color-primary;
  background-color: $bg-color;
  min-height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: $bg-color;
}

.welcome-screen,
.game-screen,
.loading-screen,
.victory-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 1rem 3rem;
  //background-image: radial-gradient($bg-color 52%, rgba($dark-grey, 0.12));
}

.btn-large {
  z-index: 1;
  padding: 0.25rem 1.25rem;
  border: 3px solid $light-grey;
  border-radius: 8px;
  background-color: $dark-grey;
  color: $white;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  transition: box-shadow 0.5s, transform 0.2s;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px $green, -2px -2px 8px $green;
    transform: scale(0.95);
  }
}

/* transitions */

.fade {
  opacity: 0;
  &-enter {
    opacity: 0;

    .characters {
      bottom: -50%;
      transform: scale(0.6);
    }

    &-active {
      opacity: 1;
      transition: opacity 1.5s;
    }

    &-done {
      .characters {
        transition: bottom 3s, transform 3s;
        bottom: 0;
        transform: scale(1);
      }
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}

.spin {
  &-enter {
    transform: scale(0.2) rotate(0deg);
    opacity: 0.4;

    &-active {
      transform: scale(1) rotate(1080deg);
      opacity: 1;
      transition: transform 1.5s, opacity 0.5s;
    }

    &-done {
      transform: rotate(720deg);
      transition: transform 1.5s ease-out;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}

.fall {
  &-enter {
    opacity: 0;
    transform: translateY(-300px);

    &-active {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 4s transform 3s;
    }
  }
}
